@import '../../utils/globalVariables';

.arrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .point{
        svg{
            margin-bottom: 4px;
        }
    }
    .changeValue{
        margin-left:6px;
    }
    h6{
        font-size: 14px;
    }
    .arrow--green{
        *{
            color: $limeGreen;
        }
    }

    .arrow--red{
        *{
            color: $brightRed;
        }
    }
}