@import '../../utils/globalVariables';
$width: 50px;
$height: $width * .5;

.switch{
    position: relative;
    display: inline-block;
    width: $width;
    height: $height;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: $width * .43;
    width: $width * .43;
    left: $width * .036;
    bottom: $width * .036;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX($width * .51);
    -ms-transform: translateX($width * .51);
    transform: translateX($width * .51);
}
.slider.round {
    border-radius: $width * .48;
}
  
.slider.round:before {
    border-radius: 50%;
}