//app will hold the global colors for the project
@import '../../utils/globalVariables';
$transitionTime: .5s;
*{
    box-sizing: border-box;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.app{
    min-height: 100vh;
    padding: 7%;
    position: absolute;
    width: 100%;
    min-width: 320px;
    z-index: 0;
    .Facebook_Border{
        background-color:$facebook ;
    }.Instagram_Border{
        background-image:$instagram ;
    }.Twitter_Border{
        background-color:$twitter ;
    }.YouTube_Border{
        background-color:$youtube ;
    }
}

.app--dark{
    color:$whiteText;
    background-color: $veryDarkBlueBG;
    .titleBox__topBG{
        background-color: $veryDarkBlueTopBG;
    }
    .overviewGroup__overviewCard, .main__mainCard{
        background-color: $darkDesaturatedBlueCard;
        &:hover{
            background-color: $darkDesaturatedBlueCardHover;
        }
    }
    .slider {
        background-image: $toggleDark;
        &:before{
            background-color: $veryDarkBlueTopBG;
        }
    }
    h3, h4, h6{
        color: $desaturatedBlueText;
    }
    hr{
        border-color: $desaturatedBlueText;
    }
}
.app--light{
    color: $veryDarkBlueText;
    background-color: $whiteBG;
    .titleBox__topBG{
        background-color: $veryPaleBlueTopBG;
    }
    .overviewGroup__overviewCard, .main__mainCard{
        background-color: $lightGrayishBlueCard;
        &:hover{
            background-color: $lightGrayishBlueCardHover;
        }
    }
    .slider {
        background-color: $toggleLight;
        &:before {
            background-color: $veryPaleBlueTopBG;
        }
    }

    h3, h4, h6{
        color: $darkGrayishText;
    }
    hr{
        border-color: $darkGrayishText;
    }
}
h1{
    font-size: 1.5rem;
    margin: 5px 0px;
}
h3{
    font-size: .87rem;
}
hr{
    border-width: .5px;
    border-bottom: 0px;
}
div, header, .slider{
    transition: background-color $transitionTime, background-image $transitionTime;
}

@media only screen and (min-width: $mobile) {
    .app{
        padding: 2% 10%;
    }
}