@import '../../utils/globalVariables';

.main__mainCard{
    height: 60vw;
    margin: 20px 0px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 5% 30% 30% 10% 30%;
    grid-template-columns: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    h4,h5{
        text-align: center;
    }
    .mainCard__mainChange{
        margin-bottom: 17px;
    }
    .mainCard__statType{
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4.5px;
    }
    .mainCard__count{
        font-size: 60px;
    }
    .mainCard__userName{
        display: flex;
        align-items: center;
        justify-content: center;
        .userName__logo{
            margin-right: 8px;
        }
    }
    .mainCard__border{
        align-self:flex-start ;
        width: inherit;
        height: 5px;
    }
}

@media only screen and (min-width: $mobile) {
    .main__mainCard{
        height: 35vw;
    }
}
@media only screen and (min-width: $desktop) {
    .main__mainCard{
        height: 15vw;
    }
}